VITE_API_URL=automotive-website-production.up.railway.app

VITE_EMAILJS_SERVICE_ID=service_iz0krc2
VITE_EMAILJS_TEMPLATE_ID=template_shxw9bg
VITE_EMAILJS_AUTOREPLY_TEMPLATE_ID=template_6xrdjs5
VITE_EMAILJS_PUBLIC_KEY=P9kqedhfXZ0wgaSBs